<!-- <p style="color:red;">Enter 2 numbers</p>

<form action="/calc" method="post">
  <input type="text" name="name1"><br>
  <input type="text" name="name2"><br>
  <input type="submit" value="Submit">
</form> -->
  


<form action="/twitter" method="get">
  <label>Enter a Twitter Username</label><br />
  <input type="text" name="user_name"><br>
  <input type="submit" value="Submit">
</form> 